extends layout
block content
    h2 Actualizar Dirección
    select(id="cb")
    form(action="")
        div(class="row uniform 50%")
            div(class="3u 12u$(xsmall)")
                label Calle:
                    input(type="text",id="ca")
            div(class="3u 12u$(xsmall)")
                label Colonia:
                    input(type="text",id="co")
            div(class="3u 12u$(xsmall)")
                label Municipio:
                    input(type="text",id="mu")
            div(class="2u$ 12u$(xsmall)")
                label Estado:
                    input(type="text",id="es")
            div(class="3u 12u$(xsmall)")
                label País:
                    input(type="text",id="pa")
            div(class="3u 12u$(xsmall)")
                label Codigo Postal:
                    input(type="text",id="cp")
        br            
        button(class="button", id="boton") Actualizar
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/funcionesActualizar.js")
