extends layout
block content
    h2 Eliminar Estudiante
    select(id="cb")
    br
    br
    br
    button(class="button",id="boton") Eliminar
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/funcionesEliminar.js")